.footer-container {
    width: 100%;
    background-color: #212529;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer-cc {
    margin-top: 30px;
    color: white;
    font-size: 27px;
}

.footer-trademarks {
    color: #FFFFFF;
    font-size: 15px;
    opacity: 0.5;
}

.footer-extended-options-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-extended-options-container p {  
    color: #FFFFFF;
    font-size: 15px;
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-icon-container {
    margin-top: 40px;
    /* display: flex; */
    display: none;
    flex-direction: row;
    justify-content: center;
}