.home-container {
    height: 100%;
    overflow-y: hidden;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: #031323;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-overlay-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.harbor-logo-img-home {
    height: 100px;
}

.harbor-logo-text-home {
    margin-left: 20px;
    height: 50px;
}

.btn {
    font-weight: 500;
    font-size: 24px;
}

.roadmap-title {
    color: black;
    line-height: normal;
    padding: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 110%;

    text-align: center;
    letter-spacing: -0.01em;
}

.desc {
    font-size: 40px;
    color: black;
    line-height: normal;
    text-align: left;
    font-weight: 600;
}

.roadmap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f7;
}

.roadmap-box {
    margin-bottom: 8%;
    width: 85%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.roadmap-box-1 {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.roadmap-box-1-top {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2%;
}

.roadmap-box-1 img {
    width: 100%;
    max-width: 1500px;
    border-radius: 30px;
}

.roadmap-box-2 {
    display: flex;
    padding-top: 8%;
    flex-direction: row;
    width: 100%!important;
    background-color: white;
}

.roadmap-box-2-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.roadmap-title-box-2 {
    text-align: left;
    margin-bottom: 30px;
}

.roadmap-box-2-left {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.roadmap-box-2-right {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-2-play-button {
    margin-top: 20px;
    max-width: 50%;
    margin-left: 20px;
    background: linear-gradient(135deg, #0081F7 0%, #00AAEB 100%);
}

.roadmap-box-2-timeline-line-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.roadmap-box-2-timeline-line-item-left {
    width: 10%;
}

.roadmap-box-2-timeline-line-item-right {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.roadmap-box-2-timeline-line-item-right-top {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.roadmap-box-2-timeline-line-item-right-bottom {
    font-size: 21px;
    text-align: left;
    color: #6B7280
}

.roadmap-box-2-timeline-line-item-left img {
    width: 20px;
}

/* --------------- */

.roadmap-box-past-experiences {
}

.nav-left {
    margin-right: 15px;
}

.roadmap-box-past-experiences-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.roadmap-box-past-experiences-top p {
    margin-left: 70px;
}

.roadmap-box-past-experiences-bottom {
    width: 100%;
    /* overflow: hidden;
    display: flex;
    flex-direction: row; */
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

.roadmap-box-past-experiences-item {
    /* width: 30%; */
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}

.roadmap-box-past-experiences-image img {
    width: 100%;
}


.roadmap-box-past-experiences-text {
    padding: 5% 5% 0% 5%;
    min-height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.roadmap-box-past-experiences-text p {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    font-weight: 1000;
}

/* --------------- */

.roadmap-box-roadmap {
    width: 100%!important;
    background-color: white;
    padding-top: 8%;
    padding-bottom: 8%;
    margin: 0;
}

.roadmap-box-roadmap-inner {
    width: 85%;
}

.roadmap-box-roadmap-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.roadmap-box-roadmap-bottom {
    width: 100%;
}

.roadmap-box-roadmap-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    /* width: 30%; */
    /* height: 200px; */
    align-items: center;
    margin-right: 10px;
    background: #6C798F;
    border-radius: 20px;
}

.roadmap-box-roadmap-item p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.roadmap-box-roadmap-item-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40%;
}

.roadmap-box-roadmap-top p {
    margin-left: 70px;
}

.roadmap-box-roadmap-item-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.roadmap-box-roadmap-item-blue {
    background: linear-gradient(135deg, #0081F7 0%, #00AAEB 100%);
}

.roadmap-box-roadmap-item-year {
    color: white;
    font-size: 24px;
}

.roadmap-box-roadmap-item-quarter {
    color: white;
    font-size: 45px;
    font-weight: bolder;
}

.roadmap-box-roadmap-item-icon {
    width: 60px;
}

.roadmap-box-roadmap-item-title {
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.roadmap-box-roadmap-item-desc {
    font-size: 20px;
    color: white;
}

/* --------------- */

.roadmap-box-upcoming-games {
    width: 100%!important;
    padding-top: 8%;
    margin: 0;
    background-color: white;
}

.roadmap-box-upcoming-games-inner {
    width: 85%;
}

.roadmap-box-upcoming-games-play-button {
    max-width: 175px;
    background: linear-gradient(135deg, #0081F7 0%, #00AAEB 100%);
}

.roadmap-box-upcoming-games-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.roadmap-box-upcoming-games-top p {
    margin-left: 50px;
}

.roadmap-icon-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.roadmap-icon-menu img {
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

.roadmap-box-upcoming-games-bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.roadmap-box-upcoming-games-bottom-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 48%;
}

.roadmap-box-upcoming-games-bottom-item p {
    margin-left: 20px;
}

.roadmap-box-upcoming-games-bottom-item button {
    margin-left: 20px;
    background: linear-gradient(135deg, #0081F7 0%, #00AAEB 100%);
}

.roadmap-box-upcoming-games-bottom-item img {
    width: 100%;
    object-fit: contain;
}

.roadmap-box-upcoming-games-bottom-item-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}

.roadmap-box-upcoming-games-bottom-item-desc {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.roadmap-box-team {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.roadmap-box-team p {
    max-width: 500px;
}

.team-desc {
    color: #6C798F;
    font-size: 20px;
    font-weight: 400;
}

.roadmap-box-team-img {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90%;
    max-width: 2000px;
}

.roadmap-box-team-banner {
    margin-top: 2%;
    width: 100%;
}