.leena-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 24px;
}

.leena-bg {
    width: 100%;
    height: 40vh;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-row-leena {
    min-width: 105%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo-row-leena img {
    height: 10vh;
}

.play-button {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px 30px 10px 30px;
    background: linear-gradient(135deg, #0081F7 0%, #00AAEB 100%);
}

.leena-title {
    font-size: 55px;
    font-weight: 900;
    color: black;
    line-height: 55px;
    margin-top: 10px;
}

.leena-desc {
    font-size: 20px;
    /* font-weight: bold; */
    color: #6a7280;
}

.leena-box {
    margin-bottom: 7%;
    width: 85%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inner-leena-box {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.leena-video {
    width: 100%!important;
    height: auto!important;
}

.leena-video video {
    width: 100%;
    border-radius: 30px;
}

.leena-box-1 {
    margin-top: 1%;
}

.leena-box-3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.leena-box-3-left {
    width: 40%;
}

.leena-box-3-left img {
    width: 100%;
}

.leena-box-3-right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.leena-box-3-right img {
    border-radius: 20px;
}

.leena-box-4 img {
    width: 90%;
    max-width: 1600px;
    margin-top: 20px;
    border-radius: 30px;
}

.leena-box-5 {
}

.leena-line-item {
    /* background-color: #78b0b5; */
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #78b0b5 20%, #78b0b5 80%, rgba(255,255,255,1) 100%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 150px;
    margin-bottom: 50px;
}

.leena-line-item-img {
    max-height: 200px;
    width: 200px;
    object-fit: contain;
}

.leena-line-item-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 30%;
}