.navbar {
    width: 100%;
    height: 7.5%;
    min-height: 50px;
    padding: 15px 5px 15px 5px;
}

.nav-container-right {
    display: flex!important;
    justify-content: flex-end!important;
}

.nav-container-left {
    display: flex!important;
    justify-content: flex-start!important;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}