.navbar {
    width: 100%;
    position: fixed;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.5) 50%, rgba(255,255,255,0.5) 100%); */
    left: 0;
    height: 7.5%;
    min-height: 50px;
    padding: 15px 10px 15px 10px;
    z-index: 20;
}

.nav-link {
    font-family: "Inter"!important;
}

.nav-container-right {
    display: flex!important;
    justify-content: flex-end!important;
}

.nav-container-left {
    display: flex!important;
    justify-content: flex-start!important;
}

.harbor-logo-img {
    height: 100%;
    margin-left: 10px;
}

.harbor-logo-text {
    width: 65px;
    margin-left: 2px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}